<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.hastar.mapper.BoardMapper">
	<!-- DB Test -->
	<select id="getAllData" resultType="PostVO">
		SELECT *
		  FROM `notice`
		 WHERE delYn = 'N'
	</select>
	
	<select id="getOneData" resultType="PostVO">
		SELECT *
		  FROM `notice`
		 WHERE no = #{no} and delYn = 'N'
	</select>

	<insert id="setNewData">
		INSERT INTO `notice`(name,title,content)
		 VALUES(#{name},#{title},#{content})
	</insert>
	
	<select id="selectNewData">
		SELECT *
		  FROM `notice`
		 WHERE name=#{name} and content=#{content} and title=#{title} 
	</select>
</mapper>